# Object files
*.o
*.ko
*.obj
*.elf

# Code::Blocks stuff
*.layout
*.cscope_file_list

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/

#hex2puf test files
hex2puf/*.hex
hex2puf/*.puf

#plipTool test files
amiga-sw/plipTool/*.puf
amiga-sw/plipTool/plipTool

avr/bin/

avr-bootloader/bin/

hex2puf/hex2puf

hex2puf/hex2puf\.exe

\.vscode/

bin/main/

bin/bootloader/
